table td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

table {
    align-items: bottom;
    width: 350px;
    height: 350px;
}

#score {
    border: false;
    align-items: bottom;
    width: 350px;
    height: 25px;
}

.scoretd {
    border: 0;
    width: 175px;
    height: 60px;
    justify-content: center;
    align-items:flex-start;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
}

h1 {
    justify-content: center;
}